@using AspNetCore.Identity.LiteDB.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="nav-item dropdown user user-menu d-none d-md-block">
    <a href="#" class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="/api/core/avatar" class="user-image" alt="User Image">
        <span>@UserManager.GetUserName(User)</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
            <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="/Account/Manage/Index" title="Manage">
            <i class="fas fa-user"></i> Manage Account
        </a>
        <div class="dropdown-header text-center">
            <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="/Account/Manage/Index" title="Manage">
            <i class="fas fa-user"></i> Profile
        </a>
        <div class="divider"></div>
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm">
            <script>
                function logout() {
                    $('#logoutForm').submit();
                }</script>
            <a class="dropdown-item" href="javascript: void(0)" onclick="logout()">
                <i class="fa fa-lock"></i> Logout
            </a>
        </form>
    </div>
</li>
