@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}
<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <h2>@ViewData["Title"]</h2>
                    <p class="text-muted">
                        You have requested to log in with a recovery code. This login will not be remembered until you provide an authenticator app code at log in or disable 2FA and log in again.
                    </p>
                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">#</span>
                        </div>
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-block btn-success">Log in</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
